appnope==0.1.0
beautifulsoup4==4.6.0
bleach==1.5.0
blinker==1.4
click==6.7
cycler==0.10.0
decorator==4.1.2
Django==1.10.5
docutils==0.14
entrypoints==0.2.3
feedgenerator==1.9
Flask==0.12.2
gunicorn==19.1.0
html5lib==0.999
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
nbconvert==5.2.1
nbformat==4.4.0
notebook==5.0.0
numpy==1.13.1
pandas==0.20.3
pandocfilters==1.4.2
PasteDeploy==1.5.2
pelican==3.7.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
pyzmq==16.0.2
qtconsole==4.3.1
requests==2.14.2
simplegeneric==0.8.1
six==1.11.0
smartypants==2.0.1
terminado==0.6
testpath==0.3
tornado==4.5.2
traitlets==4.3.2
typogrify==2.0.7
Unidecode==1.0.22
wcwidth==0.1.7
Werkzeug==0.12.2
widgetsnbextension==3.0.2
